body
{
	margin: 0px;
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/cork.png");
}

.upBar
{
	background-color: #eee;
	width: 100%;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.9); 
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.9);
}

.addres
{
	display: inline-block;
	padding: 10px;
	padding-left: calc((100% - 1000px) / 2);
	margin-left: 20px;
	margin-top: 0;
	font-size: 26px;
	text-align: left;
}

.addres a
{
	text-decoration: none;
	color: black;
}

.addres a:hover
{
	color: #666;
}

.addres a:focus
{
	color: #666;
}

.container
{
	width: 1000px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

.content
{
	width: 530px;
	float: left;
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}
.content h2
{
	line-height: 30%;
	font-size: 32px;
	text-align: left;
}

.content p
{
	font-size: 26px;
	text-align: justify;
}

.registration
{
	text-align: center;
	margin-top: 20px;
	margin: 20px;
	width: 300px;
	min-width: 294px;
	float: left;
	padding: 20px;
	border-radius: 20px;
	font-size: 25px;
	background-color: #eee;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}

.buttons
{
	margin-bottom: 10px;
}
.activeButton
{
	background-color: #007bff;
	border: 3px solid #007bff;
}

.activeButton:hover
{
	background-color: #006aee;
	border: 3px solid #006aee;
	cursor: pointer;
}

.activeButton:focus
{
	background-color: #006aee;
	border: 3px solid #0059dd;
}

.deactiveButton
{
	background-color: lightgray;
	border: 3px solid lightgray;
}

.deactiveButton:hover
{
	background-color: #006aee;
	border: 3px solid #006aee;
	cursor: pointer;
}

input[type = submit],
input[type = reset],
button
{
	width: 110px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 15px;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	border: none;
	outline: none;
}

input[type = submit]
{
	background-color: #28a745;
	border: 3px solid #28a745;
}

input[type = submit]:hover
{
	background-color: #179634;
	border: 3px solid #179634;
	cursor: pointer;
}

input[type = submit]:focus
{
	border: 3px solid #068523;
	background-color: #179634;
}

input[type = reset]
{
	background-color: #dc3545;
}

input[type = reset]:hover
{
	background-color: #cb2434;
	border: 3px solid #cb2434;
	cursor: pointer;
}

input[type = reset]:focus
{
	border: 3px solid #ba1323;
	background-color: #cb2434;
}

input[type = text],
input[type = email],
input[type = password]
{
	min-width: 250px;
	height: 30px;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #ddd;
	margin-bottom: 10px;
	outline: none;
}

input[type = text]:focus,
input[type = email]:focus,
input[type = password]:focus
{
	border: 2px solid #ccc;
}

/******menu.html-----******/

.menu
{
	margin-left: 30px;
	float:left;
}

ol
{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
}

ol a
{
	text-decoration: none;
	display: block;
	color: black;
}

ol > li
{
	padding: 10px;
	display: inline-block;
	border-right: 2px dotted #aaa;
	font-size: 20px;
}

ol > li:first-child
{
	border-left: 2px dotted #aaa;
}

ol > li:hover
{
	cursor: pointer;
}

ol > li:hover a
{
	color: #666;
}

ol a:focus
{
	color: #666;
}

.menuContainer
{
	width: 800px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-size: 25px;
	padding: 5px 20px;
	background-color: #eee;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}

.chart
{
	text-align: center;
}

