body
{
	margin: 0px;
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/cork.png");
}

.upBar
{
	background-color: #eee;
	width: 100%;
	min-width: 1000px;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.9); 
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.9);
}

.addres
{
	float: left;
	padding-left: calc((100% - 1000px) / 2);
	margin-left: 20px;
	margin-top: 0;
	font-size: 26px;
	text-align: left;
}

.addres a
{
	display: block;
	padding: 11px;
	text-decoration: none;
	color: black;
}

.addres a:hover
{
	color: #666;
}

.addres a:focus
{
	color: #666;
}

.container
{
	background-color: black;
	width: 1000px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

.content
{
	width: 500px;
	float: left;
	margin: 0px 20px;
	margin-left: 40px;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}
.content h2
{
	line-height: 30%;
	font-size: 32px;
	text-align: left;
}

.content p
{
	font-size: 26px;
	text-align: justify;
}

.registration
{
	margin: 0px 20px;
	width: 320px;
	min-width: 294px;
	float: left;
	padding: 10px;
	border-radius: 20px;
	font-size: 25px;
	background-color: #eee;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}

.row
{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.col
{
	float: left;
	margin: 0 10px;
}

.activeButton
{
	background-color: #007bff;
	border: 3px solid #007bff;
}

.activeButton:hover
{
	background-color: #006aee;
	border: 3px solid #006aee;
	cursor: pointer;
}

.activeButton:focus
{
	background-color: #006aee;
	border: 3px solid #0059dd;
}

.deactiveButton
{
	background-color: lightgray;
	border: 3px solid lightgray;
}

.deactiveButton:hover
{
	background-color: #006aee;
	border: 3px solid #006aee;
	cursor: pointer;
}

input[type = submit],
input[type = reset],
input[type = button]
{
	width: 110px;
	height: 40px;
	margin-left: 10px;
	margin-right: 5px;
	font-size: 15px;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	border: none;
	outline: none;
}

input[type = submit]
{
	background-color: #28a745;
	border: 3px solid #28a745;
}

input[type = submit]:hover
{
	background-color: #179634;
	border: 3px solid #179634;
	cursor: pointer;
}

input[type = submit]:focus
{
	border: 3px solid #068523;
	background-color: #179634;
}

input[type = reset], 
.resetButton
{
	background-color: #dc3545;
}

input[type = reset]:hover,
.resetButton:hover
{
	background-color: #cb2434;
	border: 3px solid #cb2434;
	cursor: pointer;
}
input[type = reset]:focus,
.resetButton:focus
{
	border: 3px solid #ba1323;
	background-color: #cb2434;
}

input[type = text],
input[type = email],
input[type = password],
input[type = number],
input[type = date]
{
	min-width: 250px;
	height: 30px;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #ddd;
	outline: none;
}

input[type = text]:focus,
input[type = email]:focus,
input[type = password]:focus,
input[type = number]:focus,
input[type = date]:focus
{
	border: 2px solid #bbb;
}

/******menu.html-----******/

ol
{
	float: left;
	list-style-type: none;
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
	text-align: center;
}

ol a
{
	text-decoration: none;
	display: block;
	padding: 14px;
	color: black;
}

ol > li
{
	float: left;
	border-right: 2px dotted #aaa;
	font-size: 20px;
}

ol > li:first-child
{
	border-left: 2px dotted #aaa;
}

ol > li:hover
{
	background-color: #dfdfdf;
	cursor: pointer;
}

ol > li:hover > a
{
	color: #444;
}

.chart
{
	text-align: center;
}

/******incomes.html and expenses.html-----******/

.mainContent
{
	width: 700px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	padding: 5px 20px;
	background-color: #eee;
	border-radius: 20px;
	-webkit-box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9); 
	box-shadow: 4px 4px 20px 2px rgba(0,0,0,0.9);
}

.mainContent fieldset
{
	border: 2px solid #bbb;
	width: 600px;
	border-radius: 15px;
	line-height: 150%;
}

#comment
{
	resize: none;
}

textarea
{
	border: 2px solid #ddd;
	margin-top: 10px;
	border-radius: 10px;
	outline: none;
}

textarea:focus
{
	border: 2px solid #bbb;
}



