body
{
	background-color: #ccc;
}

.header
{
	background-color: #eee;
	width: 100%;
}

.header h1
{
	font-size: 30px;
	text-align: center;
}

.container
{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-size: 15;
}

.content
{
	width: 520px;
	
	float: left;
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
}
.content h2
{
	font-size: 32px;
	text-align: left;
}

.content p
{
	font-size: 26px;
	text-align: justify;
}

.registration
{
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	width: 320px;
	float: left;
	padding: 20px;
	border-radius: 20px;
	font-size: 25px;
	background-color: #eee;
}
.buttons
{
	margin-bottom: 10px;
}

input[type = submit],
input[type = reset],
button
{
	width: 110px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #28a745;
	color: #fff;
	padding: 5px;
	border: none;
	outline: none;
}

input[type = submit]:hover,
input[type = reset]:hover,
button:hover
{
	background-color: #179634;
	cursor: pointer;
}

input[type = submit]:focus,
input[type = reset]:focus,
button:focus
{
	border: 2px solid #157412;
	background-color: #179634;
}

input[type = text],
input[type = email],
input[type = password]
{
	width: 250px;
	height: 30px;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #ddd;
	margin-bottom: 10px;
	outline: none;
}

input[type = text]:focus,
input[type = email]:focus,
input[type = password]:focus
{
	border: 2px solid #ccc;
}

.buttonForm
{
	color: #fff;
	font-size: 15px;
	margin-bottom: 40px;
}